body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

h1{
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}
/* Specific Styles */

.project {
    margin-bottom: 20px;    
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(225, 225, 225);
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    text-align: center;
}
.form-group input,
.form-group textarea {
    width: 500px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
button{
    align-self: center;
}
.btn_new{
    display: flex;
    padding: 10px 20px;
    background-color: grey;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 25px;
}
.btn_new:hover{
    background-color: black;
    color: grey;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Style for the thumbnails */
.thumbnail {
    width: 200px; /* Adjust the size as needed */
    cursor: pointer;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial shadow */
    border-radius: 4px; /* Optional: add rounded corners */
}

/* Add a stronger shadow on hover */
.thumbnail:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Shadow on hover */
}

a {
    text-decoration: none;
}